.form * {
    margin-bottom: 20px;
    display: block;
  }

  .label {
    font-size: 35px;
    font-weight: bold;
    color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to left, rgb(255, 9, 9), rgb(6, 68, 255));
  }

  .button {
      font-style: oblique;
      margin: 5px;
      font-size: 15px;
    font-weight: bold;
    color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to left, rgb(9, 29, 255), rgb(255, 6, 6));
  }