.notif {
  position: absolute;
  right: 60px;
  top: 10px;
  max-width: 270px;
  background-color: rgb(115, 111, 231);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding: 7px;
}

.enter {
  opacity: 0;
  transform: translateY(-100%);
}
.enterActive {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms linear;
}
.exit {
  opacity: 1;
  transform: translateY(0);
}
.exitActive {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 500ms linear;
}